<section class="container-fluid">
  <article class="container">
    <h1>Pokemons</h1>
    <header class="row mb-4">
      <div class="col-6">
        <select class="form-control" (change)="setPokemonsOrder($event.target.value)" id="order">
          <option value="null" selected disabled>Order por</option>
          <option value="name">Nome</option>
          <option value="favorite">Favoritos</option>
          <option value="types">Tipo</option>
        </select>
      </div>
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" (input)="searchPokemon($event.target.value)" placeholder="Pesquisa"
            aria-label="Pequisa" aria-describedby="pesquisa">
          <div class="input-group-append">
            <span class="input-group-text bg-danger text-warning" id="pesquisa"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <ng-container *ngFor="let pokemon of filteredPokemons | paginate: { itemsPerPage: 6, currentPage: p}">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-4">
          <div class="card bg-danger text-warning animated fadeInDown faster">
            <div class="card-body row font-weight-bold">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <h2 class="pokemon-name cursor-pointer" (click)="goToPokemonDetails(pokemon.id)">{{pokemon.name}}</h2>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <h1 class="cursor-pointer" (click)="setFavorite(pokemon)">
                  <i [class]="pokemon.favorite ? 'fa fa-star' : 'fa fa-star-o'"></i>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row d-flex justify-content-center">
      <ng-container *ngIf="filteredPokemons.length > 6">
        <pagination-controls [responsive]="true" [previousLabel]="'Anterior'" [nextLabel]="'Próximo'"
          (pageChange)="p = $event"></pagination-controls>
      </ng-container>
    </div>
  </article>
</section>